<!doctype html>
<html ng-app="contributions">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <title>Contributions</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css">
    <link rel="stylesheet" href="vendor/js-emoji/emoji.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="vendor/github/github.js"></script>
    <script src="vendor/js-emoji/emoji.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="ContributionController">
    <div class="navbar navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Contributions</a>
          <form class="navbar-brand form-inline" ng-submit="updateUsername()">
            <div class="form-group">
             <input type="text" class="form-control" ng-model="options.username" placeholder="GitHub username" required autofocus>
            </div>
            <button type="submit" class="btn btn-default">update</button>
          </form>
          <a class="navbar-brand user" href="{{ user.html_url }}" ng-show="user.name"><img ng-src="{{ user.avatar_url }}" alt="{{ user.name }}" ng-if="user.avatar_url" width="20" height="20">{{ user.name }}</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="contributions">

        <div class="alert alert-danger" role="alert" ng-show="messages.error">{{ messages.error }}</div>

        <form ng-show="user.repos.length" id="repository-options">
          <input type="text" class="form-control" placeholder="Filter repositories…" ng-model="options.query">
        </form>

        <div id="repository-results" class="repos" ng-show="filtered.length">
          <h2 ng-show="filtered.length === 1">1 repository</h2>
          <h2 ng-show="filtered.length !== 1">{{ filtered.length }} repositories</h2>
          <ul>
            <li class="repo" ng-repeat="repo in filtered = (user.repos | filter:options.query | orderBy:'-pushed_at')" ng-class="repo.description ? '' : 'no-desc'">
                <span class="repo-icon octicon octicon-repo"></span>
                <span class="name"><a href="{{ repo.html_url }}">{{ repo.name }}</a></span>
                <p ng-show="repo.description" ng-bind-html="trust(emoji(repo.description))"></p>
                <span class="stars" ng-show="repo.stargazers_count">{{ hideZero(repo.stargazers_count).toLocaleString() }} <span class="octicon octicon-star"></span></span>
                <div class="links">
                  <span><a href="{{ repo.homepage }}" class="icon" ng-show="repo.homepage">🏠</a></span>
                  <span><a href="{{ repo.html_url + '/archive/' + repo.default_branch + '.zip' }}" class="icon">↓</a></span>
                <!--<input type="text" value="git clone {{ repo.clone_url }}" class="form-control git-clone"></td>-->
              </div>
            </li>
          </ul>
        </div>

        <div id="starred-repos" ng-show="starredFiltered.length">
          <h2 ng-show="starredFiltered.length === 1">1 starred repository</h2>
          <h2 ng-show="starredFiltered.length !== 1">{{ starredFiltered.length }} starred repositories</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Stars</th>
                <th>Homepage</th>
                <th>Download</th>
                <th>Clone</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="repo in starredFiltered = (user.starred | filter:options.query | orderBy:'-pushed_at')">
                <td><a href="{{ repo.html_url }}">{{ repo.name }}</a></td>
                <td>{{ repo.description }}</td>
                <td>{{ hideZero(repo.stargazers_count).toLocaleString() }}</td>
                <td><a href="{{ repo.homepage }}" class="icon" ng-show="repo.homepage">🏠</a></td>
                <td><a href="{{ repo.html_url + '/archive/' + repo.default_branch + '.zip' }}" class="icon">↓</a></td>
                <td><input type="text" value="git clone {{ repo.clone_url }}" class="form-control git-clone"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <a href="https://github.com/yannickoo/contributions"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  </body>
</html>
